<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML><html lang="zh-CN"      xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/public/html5shiv.js" th:src="@{/html5shiv.js}"></script>
<script type="text/javascript" src="/public/respond.min.js" th:src="@{/respond.min.js}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" href="/public/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" th:href="@{/h-ui.admin/skin/green/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="/public/DD_belatedPNG_0.0.8a-min.js" th:src="@{/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title></title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<title>确认流失</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 客户流失管理 <span class="c-gray en">&gt;</span> 确认流失 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<article class="page-container">
<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span style="float:right;"><a class="btn btn-default radius" type="button" href="javascript:window.location.href ='customer-lost.html'">返回客户流失管理界面</a></span>
		</div>
		
	<span style="text-align:center;display:block;">
<table class="table table-border table-bordered table-bg table-hover  table-responsive">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		 <div class="mt-20">
		 <tr>

			 <td width="100"><span class="l"  ><label >编号：</label> </span> </td>
			 <td><span style="float:left;">1</span></td>
	    
			 <td width="100"><span class="l" > <label>客户：</label></span> </td>
			 <td><span style="float:left;">阳光实业</span></td> 
		
			 </tr>
			 
			 
			 <tr>

			 <td width="100"><span class="l"  ><label >客户经理：</label> </span> </td>
			 <td><span style="float:left;">球球</span></td>
	    
			 <td width="100"><span class="l" > <label>上次下单时间：</label></span> </td>
			 <td><span style="float:left;">2015年12月7日</span></td> 
		
			 </tr>
			 
			 <tr>

			 <td width="100"><span class="l"  ><label >暂缓措施：</label> </span> </td>
			 <td><span style="float:left;">打电话给客户了解不再购买本公司产品的原因。</span></td>
	    
			 
		
			 </tr>
			 </div>
			</table> 
			</span>
			
		<span style="text-align:center;display:block;">	
			<div class="mt-20">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>流失原因：</label>
			
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="abstract" cols="" rows="" class="textarea"  placeholder="请输入流失原因" datatype="*10-100" dragonfly="true" nullmsg="该项不能为空！" onKeyUp="$.Huitextarealength(this,200)"></textarea>
				
			</div>
		</div>
		</div >
		</span >
		
		<div class="mt-20">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			&nbsp;&nbsp;&nbsp;&nbsp;
				<a style="text-decoration:none" class="btn btn-primary radius" " href="defer-lost.html" >暂缓流失</a>
			</div>
		</div>
		
		</div>
	</form>
	
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/jquery/1.9.1/jquery.min.js" th:src="@{/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" src="/public/layer/2.4/layer.js" th:src="@{/layer/2.4/layer.js}"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="public/My97DatePicker/4.8/WdatePicker.js" th:src="@{/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:16
			},
			abstract:{
				required:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>