<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML><html lang="zh-CN"      xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/public/html5shiv.js" th:src="@{/html5shiv.js}"></script>
<script type="text/javascript" src="/public/respond.min.js" th:src="@{/respond.min.js}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" href="/public/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" th:href="@{/h-ui.admin/skin/green/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="/public/DD_belatedPNG_0.0.8a-min.js" th:src="@{/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
<title>制定计划</title>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 营销管理 <span class="c-gray en">&gt;</span> 客户开发计划 <span class="c-gray en">&gt;</span> 制定计划 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	

	
<table>
	<table class="table table-border table-bordered table-bg table-hover  table-responsive">
		<form class="Huiform" method="post" action="" target="_self">
		 <div>
		 <tr>

			 <td width="100"><span class="l"  ><label >编号：</label> </span> </td>
			 <td><span style="float:left;">没有数据显示</span></td>
	    
			 <td width="100"><span class="l" > <label>机会来源：</label></span> </td>
			 <td><span style="float:left;">咨询</span></td> 
		
			 </tr>
			
			<tr>
			 <td><span class="l"><label >客户名称：</label> </span></td>
			 <td><span style="float:left;"> 456</span></td>
	    
			 <td><span class="l" > <label>成功几率：</label></span></td>
			 <td><span style="float:left;">咨询</span></td> 
		
			 </tr>
			
		   <tr>
			 <td ><span class="l"><label >概要：</label> </span></td>
			 <td ><span style="float:left;"> KH071202001</span></td>
		
		
			 </tr>
			 
			 </table>
			 </br>
			 
			 
			 
			 <table class="table table-border table-bordered table-bg table-hover  table-responsive">
			  <tr>
			 <td width="100"><span class="l"><label >联系人：</label> </span></td>
			 <td><span style="float:left;"> KH071202001</span></td>
	    
			 <td width="100"><span class="l" > <label>联系电话：</label></span></td>
			 <td><span style="float:left;">北京聪海信息科技有限公司</span></td> 
		
			 </tr>
			 
			  <tr>
			 <td><span class="l"><label >机会描述：</label> </span></td>
			 <td><span style="float:left;"> KH071202001</span></td>
			 
	    <td frame=rhs><span class="l" ><label ></label> </span></td>
		<td frame=rhs><span class="l" ><label ></label> </span></td>
		
			 </tr>
			 </table>
			 
			  </br>
			   
			  <table class="table table-border table-bordered table-bg table-hover  table-responsive">
			  <tr>
			 <td width="100"><span class="l"><label >创建人：</label> </span></td>
			 <td><span style="float:left;"> KH071202001</span></td>
	    
			 <td width="100"><span class="l" > <label>创建时间：</label></span></td>
			 <td><span style="float:left;">北京聪海信息科技有限公司</span></td> 
		
			 </tr>
			 <tr>
			 <td><span class="l"><label >指派给：</label> </span></td>
			 <td><span style="float:left;"> KH071202001</span></td>
	    
			 <td><span class="l" > <label>指派时间：</label></span></td>
			 <td><span style="float:left;">北京聪海信息科技有限公司</span></td> 
		
			 </tr>
			 
			 </div>
			 
			 
			</form>
			</table>
	</div>
	<div class="mt-20">
	<form class="form form-horizontal" id="form-article-add">

	
	
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover  table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="100">日期</th>
					<th width="200">计划</th>
					<th>执行效果</th>
					
				</tr>
			</thead>
			<tbody>
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>10001</td>
					<td>10001</td>
			     	<td class="f-14 td-manage">
                       <div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="mobile" name="mobile">
			</div>
				 <button onClick="article_save();" class="btn btn-secondary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>  </td>
				</tr>
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>10001</td>
					<td>10001</td>
			     	<td class="f-14 td-manage">
                       <div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="mobile" name="mobile">
			</div>
				 <button onClick="article_save();" class="btn btn-secondary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>  </td>
				</tr>
				
				
				
			</tbody>
		</table>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
			<span style="text-align: right;display:block;">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</span>
			</div>
		</div>
		
	</div>
			<br>
	<div class="mt-20">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<span style="text-align: right;display:block;">
			<table>
			<tr>
			
				<td > <span  style="float:left;"><font size="2" >当前销售机会状态：</font></span><span  class="td-status label label-success radius" style="float:left;">已指派（开发中）</span></td>
			    <td class="f-14 td-manage"><a style="text-decoration:none" class="btn btn-danger radius" onClick="article_stop(this)" href="javascript:;" ><i class="Hui-iconfont">&#xe631;</i>终止开发</a> <a style="text-decoration:none" class="btn btn-primary radius" " href="customer-develop-createplan.html" ><i class="Hui-iconfont">&#xe725;</i>制定计划</a> <a style="text-decoration:none" class="btn btn-success radius" onClick="article_shenhe(this)" href="javascript:;" ><i class="Hui-iconfont">&#xe6e1;</i>开发成功</a>
				
				<a class="btn btn-default radius" type="button" href="javascript:window.location.href ='customer-develop.html'">返回客户开发界面</a>
				
				</td>
				</tr>
				
				</table>
		</span>
		
		
		
		
		
		
			
			</div>

	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/jquery/1.9.1/jquery.min.js" th:src="@{/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" src="/public/layer/2.4/layer.js" th:src="@{/layer/2.4/layer.js}"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="public/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="public/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="public/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="public/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="public/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="public/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="public/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [
	    [ 1, "desc" ]
	],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});

/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*开发-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*开发-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*开发-审核成功与否*/
function article_shenhe(obj,id){
	layer.confirm('客户是否同意购买公司产品？', {
		btn: ['是','否','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary"  class="btn btn-success radius"  onClick="article_start(this,id)" href="javascript:;" title="签定合同"></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">开发成功</span>');
		$(obj).remove();
		layer.msg('恭喜您，开发成功！', {icon:1,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">开发失败</span>');
		$(obj).remove();
    	layer.msg('很抱歉，开发失败！', {icon:2,time:1000});
	});	
}
/*开发-终止*/
function article_stop(obj,id){
	layer.confirm('确认要终止开发吗？',function(index){                      
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none"  class="btn btn-success radius" onClick="article_start(this,id)" href="javascript:;" title="重新开发"><i class="Hui-iconfont">&#xe66c;</i>重新开发</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">开发终止</span>');
		$(obj).remove();
		layer.msg('开发终止!',{icon: 0,time:1000});
	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('客户已经确认签订了吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none"  class="btn btn-danger radius" onClick="article_stop(this,id)" href="javascript:;" title="取缔合同"><i class="Hui-iconfont">&#xe6de;</i>取缔合同</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">开发成功</span>');
		$(obj).remove();
		layer.msg('开发成功!',{icon: 1,time:1000});
	});
}
/*资讯-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}

</script> 
</body>
</html>