<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML><html lang="zh-CN"      xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/public/html5shiv.js" th:src="@{/html5shiv.js}"></script>
<script type="text/javascript" src="/public/respond.min.js" th:src="@{/respond.min.js}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" href="/public/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" th:href="@{/h-ui.admin/skin/green/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="/public/DD_belatedPNG_0.0.8a-min.js" th:src="@{/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>制定计划</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 营销管理 <span class="c-gray en">&gt;</span> 客户开发计划 <span class="c-gray en">&gt;</span> 制定计划 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<table>
	<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
		<form class="Huiform" method="post" action="" target="_self">

			<!--开始-->
			<div>
				<tr>

					<td width="100" ><span class="l"  ><label >编号：</label> </span> </td>
					<td ><span style="float:left;" th:text="${allSale.number}">没有数据显示</span></td>

					<td width="100"><span class="l" > <label>机会来源：</label></span> </td>
					<td th:text="${allSale.source}"><span style="float:left;"></span></td>

				</tr>

				<tr>
					<td><span class="l"><label >客户名称：</label> </span></td>
					<td th:text="${allSale.customerName}"><span style="float:left;"> </span></td>

					<td><span class="l" > <label>成功几率：</label></span></td>
					<td th:text="${allSale.chance}"><span style="float:left;">咨询</span></td>

				</tr>

				<tr>
					<td ><span class="l"><label >概要：</label> </span></td>
					<td th:text="${allSale.summary}"><span style="float:left;"> </span></td>


				</tr>

	</table>
		</br>



		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<tr>
				<td width="100"><span class="l"><label >联系人：</label> </span></td>
				<td th:text="${allSale.contact}"><span style="float:left;"> </span></td>

				<td width="100"><span class="l" > <label>联系电话：</label></span></td>
				<td th:text="${allSale.contactPhone}"><span style="float:left;">北京聪海信息科技有限公司</span></td>

			</tr>

			<tr>
				<td><span class="l"><label >机会描述：</label> </span></td>
				<td><span style="float:left;"> </span></td>

				<td frame=rhs><span class="l" ><label ></label> </span></td>
				<td frame=rhs><span class="l" ><label ></label> </span></td>

			</tr>
		</table>

		</br>

		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<tr>
				<td width="100"><span class="l"><label >创建人：</label> </span></td>
				<td th:text="${allSale.founder}"><span style="float:left;"> </span></td>

				<td width="100"><span class="l" > <label>创建时间：</label></span></td>
				<td th:text="${#dates.format(allSale.createTime, 'yyyy-MM-dd HH:mm:ss')}"><span style="float:left;"></span></td>

			</tr>
			<tr>
				<td><span class="l"><label >指派给：</label> </span></td>
				<td th:text="${allSale.owner}"><span style="float:left;"> </span></td>

				<td><span class="l" > <label>指派时间：</label></span></td>
				<td th:text="${#dates.format(allSale.assignTime, 'yyyy-MM-dd HH:mm:ss')}"><span style="float:left;"></span></td>

			</tr>

	</div>

	<!--结束-->

			</form>
			</table>
	</div>
	
	
	<div class="mt-20">
	<form th:action="@{/createPlanBySaleId}"  method="post" class="form form-horizontal" id="form-member-add">
	<table>
	<tr>
		<!--<input type="hidden" th:value="${allSale.id}"  name="id" id="id">-->
		<input type="hidden" th:value="${allSale.number}"  name="saleId" id="saleId">
	<div class="mt-20">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" value="" placeholder="" name="createTime" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" >
			</div>
		</div>

		</tr>
		<tr>

	<div class="mt-20">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>计划项：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="plans" name="planContent">
			</div>
		</div>
		</tr>
		</table>


	<div class="mt-20">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="150">日期</th>
					<th>计划项</th>
					
				</tr>
			</thead>
			<tbody>

				<tr class="text-c" th:each="allPlan : ${allPlans}" >
					<form th:action="@{/updataPlan}" th:object="${plan}" method="post">
					<td><input type="checkbox" value="" name=""></td>
							<input  type="hidden" th:value="${allPlan.id}"  name="id" id="id">
							<input  type="hidden" th:value="${allPlan.saleId}"  name="saleId" id="saleId">
					<td th:text="${#dates.format(allPlan.createTime, 'yyyy-MM-dd HH:mm:ss')}"  name="createTime" type="text"></td>
					<td class="f-14 td-manage">
						<div class="formControls col-xs-8 col-sm-9">
							<input th:value="${allPlan.planContent}" type="text" class="input-text" value="" placeholder="" id="plan" name="planContent">
						</div>

						<button   class="btn btn-secondary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button> &nbsp;&nbsp;<a th:href="@{/deletePlan/{id}(id=${allPlan.id})}" href="javascript:;" onclick="article_del(this)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a>
					</td>
					</form>
				</tr>
				
				
				
			</tbody>
		</table>
	</div>
		<br>
	<div class="mt-20">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<span style="text-align: right;display:block;">
			
				<a style="text-decoration:none" class="btn btn-primary radius" th:href="@{/toExecutePlan/{number}(number=${allSale.number})}" ><i class="Hui-iconfont">&#xe726;</i>执行计划</a>
				<a class="btn btn-default radius" th:href="@{/developingCustomer}" type="button" href="javascript:window.location.href ='customer-develop.html'">返回客户开发界面</a>
			</div>

		<form class="form form-horizontal" id="form-article-add">



			<!--<div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive data">
                    <thead>
                        <tr class="text-c">
                            <td width="180">日期</td>
                            <td>计划项</th>
                            <td style="width:240px;">
                            <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <span style="text-align: right;display:block;">
                        <a id="addBtn" class="optLink" href="javascript:;"/><button  class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe600;</i> 新增计划项</button></a>

                    </span>

                    <div id="box"></div>
                    </div>

                </div>
                            </td>
                        </tr>
                    </thead>



            </div>



                </table>

                <br>-->

			<!--<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive data">-->
				<!--<tr>-->
					<!--<td width="180">日期</td>-->
					<!--<td>计划项</td>-->

					<!--<td style="width:150px;">-->
						<!--<div class="row cl">-->
							<!--<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">-->
			<!--<span style="text-align: right;display:block;">-->
				<!--<a id="addBtn" class="optLink" href="javascript:;"/><i class="Hui-iconfont">&#xe600;</i> 新增计划项</a>-->
							<!--</div>-->

						<!--</div>-->
					<!--</td>-->
				<!--</tr>-->
			<!--</table>-->
	<!--</div>-->

		<!--</form>-->


</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/jquery/1.9.1/jquery.min.js" th:src="@{/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" src="/public/layer/2.4/layer.js" th:src="@{/layer/2.4/layer.js}"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="public/My97DatePicker/4.8/WdatePicker.js" th:src="@{/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/jquery.validate.js" th:src="@{/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/validate-methods.js" th:src="@{/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/messages_zh.js" th:src="@{/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" src="public/webuploader/0.1.5/webuploader.min.js" th:src="@{/webuploader/0.1.5/webuploader.min.js}"></script>
<script type="text/javascript" src="public/ueditor/1.4.3/ueditor.config.js" th:src="@{/ueditor/1.4.3/ueditor.config.js}"></script>
<script type="text/javascript" src="public/ueditor/1.4.3/ueditor.all.min.js" th:src="@{/ueditor/1.4.3/ueditor.all.min.js}"> </script>
<script type="text/javascript" src="public/ueditor/1.4.3/lang/zh-cn/zh-cn.js" th:src="@{/ueditor/1.4.3/lang/zh-cn/zh-cn.js}"></script>
			<script type="text/javascript" src="public/datatables/1.10.0/jquery.dataTables.min.js" th:src="@{/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript">




</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>