<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/public/html5shiv.js" th:src="@{/html5shiv.js}"></script>
    <script type="text/javascript" src="/public/respond.min.js" th:src="@{/respond.min.js}"></script>
    <script type="text/javascript" src="/public/jquery/1.9.1/jquery.min.js"
            th:src="@{/jquery/1.9.1/jquery.min.js}"></script>
    <!-- 引入 ECharts 文件 -->
    <script type="text/javascript" src="/static/echarts.common.min.js" th:src="@{/echarts.common.min.js}"></script>
    <title>客户贡献分析报表</title>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 100%;height:600px;"></div>
<div id="main1" style="width: 100%;height:600px;"></div>
<div id="main2" style="width: 100%;height:600px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    $.ajax({
        url: '/report/data/constitute',
        type: 'post',
        dataType: 'json',  //返回的数据类型
        success: function (result) {
            constitute(result);
        }
    });

    function constitute(result) {
        var data = eval(result);
        option = {
            backgroundColor: '#2c343c',
            title: {
                text: 'Customer Constitute — 按等级',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#ccc'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            visualMap: {
                show: false,
                min: 80,
                max: 600,
                inRange: {
                    colorLightness: [0, 1]
                }
            },
            series: [
                {
                    name: '客户构成',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: result.sort(function (a, b) {
                        return a.value - b.value;
                    }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            // c23531
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }




    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main1'));

    $.ajax({
        url: '/report/data/constitute/credit',
        type: 'post',
        dataType: 'json',  //返回的数据类型
        success: function (result) {
            constitute1(result);
        }
    });

    function constitute1(result) {
        var data = eval(result);

        option = {
            backgroundColor: '#2c343c',
            title: {
                text: 'Customer Constitute — 按信用度',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#ccc'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            visualMap: {
                show: false,
                min: 80,
                max: 600,
                inRange: {
                    colorLightness: [0, 1]
                }
            },
            series: [
                {
                    name: '客户构成',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: result.sort(function (a, b) {
                        return a.value - b.value;
                    }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            // c23531
                            color: '#2f4554',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);
    }




    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('main2'));

    $.ajax({
        url: '/report/data/constitute/satisfaction',
        type: 'post',
        dataType: 'json',  //返回的数据类型
        success: function (result) {
            constitute2(result);
        }
    });

    function constitute2(result) {
        var data = eval(result);
        option = {
            backgroundColor: '#2c343c',

            title: {
                text: 'Customer Constitute — 按满意度',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#ccc'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            visualMap: {
                show: false,
                min: 80,
                max: 600,
                inRange: {
                    colorLightness: [0, 1]
                }
            },
            series: [
                {
                    name: '客户构成',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: result.sort(function (a, b) {
                        return a.value - b.value;
                    }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            // c23531
                            color: '#bda29a',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);
    }
</script>
</body>
</html>