<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML><html lang="zh-CN"      xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/public/html5shiv.js" th:src="@{/html5shiv.js}"></script>
<script type="text/javascript" src="/public/respond.min.js" th:src="@{/respond.min.js}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" href="/public/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" th:href="@{/h-ui.admin/skin/green/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="/public/DD_belatedPNG_0.0.8a-min.js" th:src="@{/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>服务分配</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 客户服务管理 <span class="c-gray en">&gt;</span> 服务分配 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<table>
		<form class="Huiform" method="post" action="" target="_self">
		<tr>
		     客户：<input type="text" name="" id="" placeholder=" " class="input-text" style="width:120px;">
	 &nbsp	 &nbsp	 &nbsp
			 概要：<input type="text" name="" id="" placeholder=" " style="width:200px" class="input-text" >
	 &nbsp	 &nbsp	 &nbsp
			 服务类型：<span class="select-box" style="width:80px">
			<select class="select" name="brandclass" size="1">
				<option value="0" selected>全部</option>
				<option value="1">服务1</option>
				<option value="2">服务2</option>
				<option value="3">服务3</option>
			
			</select>
			</span>
			
			</tr>
			
			
			
		   <tr>
			创建日期：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
		&nbsp	 &nbsp	 &nbsp
			 状态：<span class="select-box" style="width:150px">
			<select class="select" name="brandclass" size="1">
				<option value="0" selected>新创建</option>
				<option value="1">未创建</option>
				<option value="2">已创建</option>
			
			</select>
			</span>
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
			   </tr>
			</form>
			<table>
	</div>
	<div class="mt-20">
	<form class="form form-horizontal" id="form-article-add">
	
	<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">编号</th>
					<th width="80">客户</th>
					<th width="80">概要</th>
					<th width="80">服务类型</th>
					<th width="80">创建人</th>
					<th width="120">创建日期</th>
					<th width="120">分配给</th>
					<th width="80">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>456</td>
					<td>太阳药业</td>
					<td>询问收音机订单运费承担方式</td>
					<td>咨询</td>
					<td>小明</td>
					<td>2018年8月31日</td>
					<td>
					<span class="select-box" style="width:80px">
						<select class="select" name="brandclass" size="1">
							<option value="0" selected>请选择</option>
							<option value="1">小明</option>
							<option value="2">旺财</option>
							<option value="3">球球</option>
							<option value="3">孙小美</option>
							<option value="3">周杰伦</option>
			
						</select>
					</span>
					<button name="" id="" class="btn btn-default radius" type="submit"><i class="Hui-iconfont">&#xe6d0;</i> 分配</button>
					</td>	
					<td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="article_del(this)" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>
				</tr>
			
			<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>456</td>
					<td>太阳药业</td>
					<td>询问收音机订单运费承担方式</td>
					<td>咨询</td>
					<td>小明</td>
					<td>2018年8月31日</td>
					<td>
					<span class="select-box" style="width:80px">
						<select class="select" name="brandclass" size="1">
							<option value="0" selected>请选择</option>
							<option value="1">小明</option>
							<option value="2">旺财</option>
							<option value="3">球球</option>
							<option value="3">孙小美</option>
							<option value="3">周杰伦</option>
			
						</select>
					</span>
					<button name="" id="" class="btn btn-default radius" type="submit"><i class="Hui-iconfont">&#xe6d0;</i> 分配</button>
					</td>	
					<td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="article_del(this)" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>
				</tr>
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>456</td>
					<td>太阳药业</td>
					<td>询问收音机订单运费承担方式</td>
					<td>咨询</td>
					<td>小明</td>
					<td>2018年8月31日</td>
					<td>
					<span class="select-box" style="width:80px">
						<select class="select" name="brandclass" size="1">
							<option value="0" selected>请选择</option>
							<option value="1">小明</option>
							<option value="2">旺财</option>
							<option value="3">球球</option>
							<option value="3">孙小美</option>
							<option value="3">周杰伦</option>
			
						</select>
					</span>
					<button name="" id="" class="btn btn-default radius" type="submit"><i class="Hui-iconfont">&#xe6d0;</i> 分配</button>
					</td>	
					<td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="article_del(this)" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>
				</tr>
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>456</td>
					<td>太阳药业</td>
					<td>询问收音机订单运费承担方式</td>
					<td>咨询</td>
					<td>小明</td>
					<td>2018年8月31日</td>
					<td>
					<span class="select-box" style="width:80px">
						<select class="select" name="brandclass" size="1">
							<option value="0" selected>请选择</option>
							<option value="1">小明</option>
							<option value="2">旺财</option>
							<option value="3">球球</option>
							<option value="3">孙小美</option>
							<option value="3">周杰伦</option>
			
						</select>
					</span>
					<button name="" id="" class="btn btn-default radius" type="submit"><i class="Hui-iconfont">&#xe6d0;</i> 分配</button>
					</td>	
					<td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="article_del(this)" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/jquery/1.9.1/jquery.min.js" th:src="@{/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" src="/public/layer/2.4/layer.js" th:src="@{/layer/2.4/layer.js}"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="public/My97DatePicker/4.8/WdatePicker.js" th:src="@{/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/jquery.validate.js" th:src="@{/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/validate-methods.js" th:src="@{/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" src="public/jquery.validation/1.14.0/messages_zh.js" th:src="@{/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" src="public/webuploader/0.1.5/webuploader.min.js" th:src="@{/webuploader/0.1.5/webuploader.min.js}"></script>
<script type="text/javascript" src="public/ueditor/1.4.3/ueditor.config.js" th:src="@{/ueditor/1.4.3/ueditor.config.js}"></script>
<script type="text/javascript" src="public/ueditor/1.4.3/ueditor.all.min.js" th:src="@{/ueditor/1.4.3/ueditor.all.min.js}"> </script>
<script type="text/javascript" src="public/ueditor/1.4.3/lang/zh-cn/zh-cn.js" th:src="@{/ueditor/1.4.3/lang/zh-cn/zh-cn.js}"></script>



<script type="text/javascript" src="public/datatables/1.10.0/jquery.dataTables.min.js" th:src="@{/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="public/laypage/1.2/laypage.js" th:src="@{/laypage/1.2/laypage.js}"></script>
<script type="text/javascript">


$('.table-sort').dataTable({
	"aaSorting": [
	    [ 1, "desc" ]
	],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});

/*营销-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*营销-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*营销-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*营销-审核*/
function article_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*营销-下架*/
function article_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*营销-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
/*营销-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>